<div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="form-group row">
                <div class="col">
                    <label for="exampleInputEmail1" >Firstname</label>
                    <input type="text" class="form-control" ngModel name="firstName" id="firstName" placeholder="fedi">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Lastname</label>
              <input type="text" class="form-control" ngModel name="lastName" id="lastName" placeholder="labidi">
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" ngModel name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          
            <div class="form-group row">
                <div class="col">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" ngModel name="password" id="password" placeholder="password">
                  </div>
                <div class="col">
                    <label for="exampleInputPassword1">Confirm password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirm password">
                    </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" class="form-control" ngModel name="phoneNumber" id="phoneNumber" placeholder="+216 71 000 000">
              </div>
              
            
            <button type="submit" class="btn btn-primary">Submit</button>
          
              <div [hidden]="not_created" class="alert alert-danger" role="alert">
                Error when submitting form.
              </div>
              <div [hidden]="created" class="alert alert-success" role="alert">
                {{message}}
              </div>
          </form>
          
        </div>
        
      </div>
    </div>