.custom-img {
  width: 100%;
  height: 500px;
}

/* CSS to style the button and icon */
.add-button {
  position: absolute;
  bottom: 20px;
  right: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
}
body {
  background: linear-gradient(to bottom right, #87CEEB, #4169E1);
}


.btn-participate {
  display: none; /* Hide the Participate button by default */
}

.carousel-item:hover .btn-participate {
  display: block; /* Show the Participate button on hover */
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.event-date {
  font-size: 18px;
  color: blue;
}
