<div class="d-flex justify-content-center align-items-center">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="custom-img" src="https://res.cloudinary.com/dh3co0nj3/image/upload/v1681441129/Our_Event_hvb2s0.png" alt="First slide">
        <a class="btn btn-info btn-round  btn-lg " data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <div class="carousel-item" *ngFor="let event of events">
        <img class="custom-img" src="{{event.medias[0].imagenUrl}}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="event-title">{{event.title}}</h5>
          <p class="event-date">{{event.startDate|date}}</p>
          <a href="#" class="btn btn-primary btn-participate"  (click)="OnParticipate(event.id)">Participate</a> <!-- Add Participate button here -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-add-event></app-add-event>
</div>
