<app-header1></app-header1>


<div class="rating" >
  <h4><b>Rate This Shop</b></h4>
  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" [checked]="myRating == 5" (change)="addRating(5)" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" [checked]="myRating == 4"  (change)="addRating(4)" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" [checked]="myRating == 3"  (change)="addRating(3)" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" [checked]="myRating == 2" (change)="addRating(2)"  />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" [checked]="myRating == 1"  (change)="addRating(1)" />
    <label for="star1" title="text">1 star</label>
  </div>
  <h5>{{messageSuccess}}</h5>
</div>
<div class="form-group d-flex justify-content-center">
  <h3><b>Search products</b></h3>
</div>
<div class="form-group d-flex justify-content-center">
  <input type="text" class="form-control" [(ngModel)]="searchTerm" ngDefaultControl (keyup)="search($event)" placeholder="Search products">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3">
      <button class="btn btn-link btn-info" (click)="allProd(this.id)"><span style="font-size: 1.2rem;"><b>Show all shop products</b></span></button>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <button class="btn btn-link btn-info " (click)="mostSold()"><span style="font-size: 1.2rem;"><b>Show most 10 selled at top</b></span></button>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <button class="btn btn-link btn-info" (click)="confirm()"><span style="font-size: 1.2rem;"><b>Show discounted products</b></span></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3">
      <button class="btn btn-link btn-info" (click)="show()"><span style="font-size: 1.2rem;"><b>Compare products</b></span></button>
    </div>
    <div *ngIf="divCom">
      <h4 style="color : blue"> {{msg1}}</h4>
      <h4 style="color : grey"> {{msg2}}</h4>

      <div class="form-group">
        <label for="exampleFormControlSelect1"><strong>Product1</strong></label>
        <select class="form-control" id="exampleFormControlSelect11" [(ngModel)]="prr1" >
          <option *ngFor="let p of productList" [value]="p.idProduct">{{p.name}}</option>

        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1"><strong>Product2</strong></label>
        <select class="form-control" id="exampleFormControlSelect411" [(ngModel)]="prr2" >
          <option *ngFor="let p of productList" [value]="p.idProduct">{{p.name}}</option>

        </select>
      </div>
      <button style="width: 500px;margin-left: 260px" (click)="OnCompare()" class="btn btn-info btn-round  btn-lg btn-block">Sort  </button>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <button class="btn btn-link btn-info" (click)="showdiv1()"><span style="font-size: 1.2rem;"><b>Find products by price</b></span></button>
    </div>
    <div class="col-md-3 col-sm-6 mb-3 ">
      <button class="btn btn-link btn-info" (click)="showdiv()"><span style="font-size: 1.2rem;"><b>Sort products by category</b></span></button>
    </div>
  </div>
</div>

<div style="width: 500px ; position: center;margin-left: 38%" *ngIf="divShow">
  <div class="form-group">
    <label for="exampleFormControlSelect1"><strong>Category</strong></label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="cat" >
      <option>MECHANIC</option>
      <option>ELECTRIC</option>
      <option>HYDRAULIC</option>
    </select>
  </div>
  <button style="width: 500px;margin-left: 260px" (click)="sortByCatg()" class="btn btn-info btn-round  btn-lg btn-block">Sort  </button>

</div>
<div style="width: 500px ; position: center;margin-left: 38%" *ngIf="divShow1">
  <div class="form-group">
    <div class="form-group mx-sm-3">
      <label for="min" class="sr-only">min</label>
      <input type="min" class="form-control" id="min" placeholder="Min price" [(ngModel)]="min"pattern="[0-9]+" required
             title="Please enter a number">
    </div>
    <div class="form-group mx-sm-3">
      <label for="max" class="sr-only">max</label>
      <input type="max" class="form-control" id="max" placeholder="Max price" [(ngModel)]="max" pattern="[0-9]+" required
             title="Please enter a number" >
      <div class="text-danger" *ngIf="error">
        <p><strong>Please enter a valid number</strong></p>
      </div>
    </div>
  </div>
  <button style="width: 500px;margin-left: 260px" (click)="sortByprix()" class="btn btn-info btn-round  btn-lg btn-block">Sort  </button>
</div>




<div class="card" style="width: 20rem;" *ngFor="let item of productList| paginate:{itemsPerPage:itemsPerPage,currentPage :p}">
    <div *ngIf="item.medias && item.medias.length>0" class="carousel-container">
      <img
        [src]="item.medias[indexImage[item.idProduct]].imagenUrl" alt="Card image cap"
        class="image-active1">

      <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of item.medias;let i=index"
              class="dot"
              [ngClass]="{'active':indexImage[item.idProduct]===i}"
              (click)="selectImage(item.idProduct,i)">
        </span>
      </div>
      <button *ngIf="controls" class="btn-carousel btn-prev"
              (click)="onPrevClick(item.idProduct,item.medias.length)">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
      </button>
      <button *ngIf="controls" class="btn-carousel btn-next"
              (click)="onNextClick(item.idProduct,item.medias.length)">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
      </button>

    </div>
    <div class="card-body">
      <h6 class="card-title"><strong>Name: </strong>{{item.name}}</h6>
<!--      <h6 class="card-text"><strong>Reference: </strong>{{item.reference}}</h6>-->
      <h6 class="card-text"><strong>Quantity: </strong>{{item.stock.currentQuantity}}</h6>
      <h6 class="card-text"><strong>Price: </strong>{{item.price}}</h6>
      <!--    <p class="card-text">{{item.description}}</p>-->
      <!--    <p class="card-text">{{item.discount}}</p>-->
      <!--    <p class="card-text">{{item.PriceAfterDiscount}}</p>-->
<!--      <h6 class="card-text"><strong>Brand: </strong>{{item.brand}}</h6>-->
      <h6 class="card-text"><strong>Status: </strong>{{item.status}}</h6>
<!--      <h6 class="card-text"><strong>Category: </strong>{{item.category}}</h6>-->
<!--      <h6 class="card-text"><strong>Barcode Image: </strong></h6>-->
      <button [routerLink]='["product",item.idProduct]' class="btn btn-info btn-round  btn-lg btn-block">Add to wish-list</button>
      <button (click)="addToCart(item)" class="btn btn-info btn-round  btn-lg btn-block">Add to cart</button>

    </div>
  </div>






<div class="mt-8 py-5 flex justify-center items-center">
  <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" flex=""></pagination-controls>
</div>
