.delete-button {
  color: white;
  font-weight: bold;
  background-color: #2CA8FF;
  border-color: #2CA8FF;
}
.delete-button:hover {
  background-color: red;
  border-color: red;
}
.delete-button i {
  color: white;
  margin-right: 2px;
}
.up-button {
  color: white;
  font-weight: bold;
  background-color: #2CA8FF;
  border-color: #2CA8FF;
}
.up-button:hover {
  background-color: orange;
  border-color: orange;
}
.up-button i {
  color: white;
  margin-right: 2px;
}

.btn-react {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #2CA8FF;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg-react {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-react:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn-react:hover svg {
  stroke-dashoffset: -480;
}

.btn-react span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

