.delete-button {
  color: white;
  font-weight: bold;
  background-color: #2CA8FF;
  border-color: #2CA8FF;
}
.delete-button:hover {
  background-color: red;
  border-color: red;
}
.delete-button i {
  color: white;
  margin-right: 2px;
}
