<h2>Shopping Cart</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cartItem of shoppingCart.cartItemList">
    <td>{{ cartItem.product.name }}</td>
    <td>{{ cartItem.quantity }}</td>
    <td>{{ cartItem.product.price }}</td>
    <td>{{ cartItem.product.price * cartItem.quantity }}</td>
    <td>
      <button class="btn btn-danger btn-sm"
              (click)="removeCartItem(cartItem)">
        Remove
      </button>
    </td>
  </tr>
  </tbody>
</table>

<p>Total price: {{ getTotalPrice() }}</p>
