<app-nav2></app-nav2>
  <section class="h-100 h-custom" style="background-image: url(./assets/img/header.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                  class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>

                    <p>You have {{getUnpaidOrdersCount()}} Order(s) not pay</p>

                  </div>
                </div>
                <table class="table text-center">
                  <thead>
                  <tr>

                    <th scope="col">Order Date</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Paiment</th>
                    <th scope="col">annuler</th>
                    <th scope="col">show</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let order of orders" class="align-middle" >

                    <td>{{ order.creationDate }}</td>
                    <td>{{ order.totalAmount }}</td>
                    <td>{{ order.ordersStatus }}</td>

                    <td>
                      <ng-container *ngIf="!order.paid; else paid">
                        <a class="btn btn-link" href="{{spring_url+order.id}}">
                          <span>pay</span>
                        </a>
                        <div>

                          <div class="modal fade" [id]="'productDetailsModal'+order.id" tabindex="-1" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                     <div class="modal-body">
                                       <p>jkshdsjkezrhkzhr</p>
                                     <iframe  src="http://localhost:8085/auth/register"></iframe>
                                     </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </ng-container>
                      <ng-template #paid>
                        <button class="btn btn-outline-warning btn-round" type="button" disabled>paid</button>
                      </ng-template>
                    </td>
                    <td>
                      <button class="btn btn-warning btn-round" type="button" (click)="onDeleteOrder(order.id)">Cancel
                      </button>

                    </td>
                    <td>
                    <div>
                      <button class="btn btn-warning btn-round" type="button" (click)="fetchProducts(order.id)">show</button>
                    </div>

                    </td>
                  </tr>
                  </tbody>
                </table>


              </div>

              <div class="col-lg-5">
                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">


                    <div class="cart" *ngIf=" showProducts && products && products.length > 0">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0" style="color: #00bbff;">Your orderd products</h5>
                        <img src="https://icon-library.com/images/consistent-icon/consistent-icon-23.jpg" alt="Your Image" style="width: 70px; height: 70px; border-radius: 50%; margin-left: auto;">
                      </div>
                      <div class="table-container d-flex align-items-center justify-content-center">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th scope="col">Picture</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let product of products">
                            <td>
                              <img src="{{ product.medias[0].imagenUrl }}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                            </td>
                            <td >{{ product.name }}</td>
                            <td >{{ product.price }}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>


                    </div>


                    <p *ngIf="products && products.length === 0">No products found for order ID {{ orderId }}.</p>



                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="custom-img" src="https://res.cloudinary.com/dh3co0nj3/image/upload/v1681441129/Our_Event_hvb2s0.png" alt="First slide">
                      </div>
                      <div class="carousel-item" *ngFor="let event of events">
                        <img [style.width.px]="50" [style.height.px]="50" class="custom-img" src="{{event.medias[0].imagenUrl}}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="event-title">{{event.title}}</h5>
                          <p class="event-date">{{event.startDate|date}}</p>
                          <a href="#" class="btn btn-primary btn-participate">Participate</a> <!-- Add Participate button here -->
                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>


              <div class="col-lg-4 col-xl-7">
                <div class="card-body">
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-6">
                    <p class="mb-2" style="color: black;"> If you wish to file a claim for an order, please click on the 'Claim' </p>
                  </div>



                </div>
              </div>

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">

                    <div class="container py-5" style="position: absolute; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%;">
                      <div class="row d-flex justify-content-center align-items-center">
                        <div class="col">
                          <div class="card my-4 shadow-3">
                            <div class="row g-0">
                              <div class="col-xl-6 d-xl-block bg-image">
                                <img src="https://mdbcdn.b-cdn.net/img/Others/extended-example/delivery.webp" alt="Sample photo"
                                     class="img-fluid" />
                              </div>
                              <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                  <h3 class="mb-4 text-uppercase">Delivery Info</h3>

                                  <div class="row">
                                    <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                        <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example1m">First name</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                        <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example1n">Last name</label>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example8">Address</label>
                                  </div>



                                  <div class="row">
                                    <div class="col-md-6 mb-4">

                                      <select class="select">
                                        <option value="1">State</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                      </select>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                      <select class="select">
                                        <option value="1">City</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                      </select>

                                    </div>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="text" id="form3Example3" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example3">Zip</label>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="text" id="form3Example2" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example2">Email</label>
                                  </div>

                                  <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn btn-success btn-lg ms-2"
                                            style="background-color:hsl(210, 100%, 50%) ">Place order</button>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
