<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<button class="btn btn-info btn-round  btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModalClaim">
  <i class="fas fa-plus"></i>
</button>
<div class="modal fade" id="exampleModalClaim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-add-claim></app-add-claim>
</div>
<div class="card-body">
<div  *ngIf="claims.length>=1" class="table-responsive">
<table class="table" xmlns:paginate="http://www.w3.org/1999/xhtml"
       xmlns:itemsPerPage="http://www.w3.org/1999/xhtml" xmlns:currentPage="http://www.w3.org/1999/xhtml"
       xmlns:id="http://www.w3.org/1999/xhtml">
  <thead>
  <tr *ngIf="claims.length>0">
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">TypeClaim</th>
    <th scope="col">statusClaims</th>
    <th scope="col">Picture</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let claim of claims | paginate: { itemsPerPage: pageSize, currentPage: currentPage, id: 'claim-pagination' }" >
    <td>{{claim.title}}</td>
    <td>{{claim.description}}</td>
    <td>{{claim.typeClaim}}</td>
    <td>
      <span *ngIf="claim.statusClaims.startsWith('Pending')" class="badge badge-default">{{claim.statusClaims}}</span>
      <span *ngIf="claim.statusClaims.startsWith('Resolved')" class="badge badge-success">{{claim.statusClaims}}</span>
      <span *ngIf="claim.statusClaims.startsWith('Rejected')" class="badge badge-danger">{{claim.statusClaims}}</span>
    </td>
    <td>
      <div style="position: relative;">
        <img src="{{claim.medias[0]?.imagenUrl}}" style="width: 50px; height: 50px;" (mouseover)="showText = true" (mouseout)="showText = false" [ngStyle]="{'position': 'relative'}" (click)="onImageClick(claim.medias)">
        <span *ngIf="claim.medias.length>1" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; padding: 5px; font-size: 14px;border-radius: 5%">
      +{{claim.medias.length-1}}
    </span>
      </div>
      <div *ngIf="isImageModalOpen" class="image-modal">
        <div class="modal-content">
          <img [src]="selectedMedia?.imagenUrl" [style.width.px]="500" [style.height.px]="500" class="center-image">
          <button (click)="closeImageModal()" class="close-button"><i class="fas fa-times"></i></button>
          <button style="color: black" class="arrow-button left" (click)="onPreviousClick(claim)" [hidden]="claim.medias.length<=1" ><i class="fas fa-chevron-left"></i></button>
          <button style="color: black" class="arrow-button right" (click)="onNextClick(claim)" [hidden]="claim.medias.length<=1"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </td>
    <td>
      <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-sm btn-icon" (click)="onDeleteClick(claim.idClaims)"
              [hidden]="claim.statusClaims === 'Rejected' || claim.statusClaims === 'Resolved' || claim.statusClaims === 'In_process'">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-container" *ngIf="claims.length>3">
  <pagination-controls (pageChange)="onPageChange($event)" id="claim-pagination"></pagination-controls>
</div>
</div>
</div>

