
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="javascript:void(0)">indus market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#pablo" class="nav-link">my account</a>
        </li>
        <li class="nav-item">
          <a href="#pablo" class="nav-link">forum</a>
        </li>
      </ul>
    </div>


      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="wish list" data-placement="bottom" >
              <i class="fa-solid fa-heart"></i>
              <p class="d-lg-none d-xl-none">wish list</p>
            </a>
          </li>
          </ul>
      </div>

    </div>

</nav>
