<div class="container" style="background-color: #00000070; ">

  <div class="container" >
    <div class="card mt-5" style="color: white;">
      hello
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1"  style="color: white;">Email address</label>
      <input  style="color: white;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small  style="color: white;" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"  style="color: white;">Password</label>
      <input  style="color: white;" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  
    <div class="form-check">
      <label class="form-check-label"  style="color: white;">
        <input class="form-check-input"  style="color: white;" type="checkbox">
        <span class="form-check-sign"  style="color: white;"></span>
        Check me out
      </label>
    </div>
    <button  style="color: white;" type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>