//
//.map-container {
//  height: 500px;
//}
//
//.map-frame {
//  height: 100%;
//  width: 100%;
//}
//
//#map {
//  height: 100%;
//  width: 100%;
//}
//#map1 {
//  height: 200px;
//  width: 200px;
//}


.map-container{
  height: 500px;
  width: 500px;
}

#map{
  //position:inherit !important;
  height:200px;
  width: 200px;
}
