
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- CSS Files -->
<link href="/src/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/src/assets/css/now-ui-kit.css?v=1.3.0" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/src/assets/demo.css" rel="stylesheet" />
<div class="profile-page sidebar-collapse">


<app-nav2></app-nav2>

<div class="wrapper">
  <div class="page-header clear-filter page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url(&quot;../assets/img/header-back.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
    </div>
    <div class="container">
      <div class="photo-container">
        <img src="{{user.picture.imagenUrl}}" alt="">
      </div>
      <h3 class="title">{{user.firstName}} {{user.lastName}}</h3>
      <p class="category">Client</p>
      <div class="content">
        <div class="social-description">
          <h2>26</h2>
          <p>Shops</p>
        </div>
        <div class="social-description">
          <h2>26</h2>
          <p>Products</p>
        </div>
        <div class="social-description">
          <h2>19</h2>
          <p>Posts</p>
        </div>
        <br>
      </div>

    </div>

  </div>

  <br>
  <br>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <button  class="btn btn-info btn-icon btn-round"
                 data-toggle="modal" data-target="#exampleModal">
          <i class="now-ui-icons media-1_camera-compact"></i>
        </button>
        <button class="btn btn-info btn-icon btn-round" type="button"
                data-toggle="modal" data-target="#exampleModal1">
          <i class="now-ui-icons loader_gear"></i>
        </button>

        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">My Portfolio</h4>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-info nav-pills-just-icons" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                    <i class="now-ui-icons design_image"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                    <i class="now-ui-icons design_app"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                    <i class="now-ui-icons shopping_shop"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content gallery">
            <div class="tab-pane active" id="home" role="tabpanel">
              <app-user-products></app-user-products>

            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
              <div>


              </div>
            </div>
            <div class="tab-pane" id="messages" role="tabpanel">
              <div class="col-md-10 ml-auto mr-auto">
                <app-user-shops></app-user-shops>
                </div>
              </div>
            </div>
          </div>
        </div>
  <footer class="footer footer-default">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        ©
        <script>
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>2023, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profile picture</h5>
        <button type="button" class="btn btn-round btn-info" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Add an image
        <div class="mb-3">
          <label for="formFile" class="form-label"></label>
          <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
        </div>
        <div class="alert alert-info" role="alert" [hidden]="created">
          {{message}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="onUpload()"
        >Save changes</button>
      </div>
    </div>
  </div>
</div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="btn btn-round btn-info" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form" style="padding: 3%" >
            <div class="card-header text-center">
              <h5>edit profile</h5>
            </div>
            <div class="form-group row">
              <div class="col">
                <label for="firstName" >Firstname</label>
                <input [(ngModel)]="user.firstName" type="text" class="form-control" ngModel name="firstName" id="firstName" placeholder="fedi">
              </div>
              <div class="col">
                <label for="lastName">Lastname</label>
                <input [(ngModel)]="user.lastName" type="text" class="form-control" ngModel name="lastName" id="lastName" placeholder="labidi">
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" [(ngModel)]="user.email" class="form-control" ngModel name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>


            <div class="form-group">
              <label for="exampleInputPassword1">Phone</label>
              <input [(ngModel)]="user.phoneNumber" type="text" class="form-control" ngModel name="phoneNumber" id="phoneNumber" placeholder="+216 71 000 000">
            </div>

            <div class="form-group row">
              <div class="col">
                <button class="btn btn-round btn-info">update password</button>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info" (click)="onUpload()"
            >Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Add a new shop</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Name</label>
            <input class="form-control"   placeholder="Enter shop name" [(ngModel)]="shop.name">
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input  class="form-control"   placeholder="Enter shop phone number"  [(ngModel)]="shop.phoneNumber">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input  class="form-control"   placeholder="Enter shop Adress"  [(ngModel)]="shop.adresse">
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter shop email"  [(ngModel)]="shop.mail">
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label"> Images </label>
            <input multiple class="form-control" type="file"  (change)="onFilesSelected($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="uploadFiles()" type="button" class="btn btn-info">Add shop</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
