

<app-nav2></app-nav2>

<div class="breadcrumb" style="padding-top: 5%">
  <app-bread-crump></app-bread-crump>

    <div >

    </div>
  </div>


  <div class="container" id="menu-dropdown">
    <div class="row">
      <div class="col-sm-4 content h-100 d-flex align-items-center justify-content-center" >
        <app-profile-badge></app-profile-badge>
      </div>
      <div class="col-md-8">
        <div class="card content h-50 d-flex align-items-center ">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="btn btn-info btn-round  " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="btn btn-info btn-round  " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="btn btn-info btn-round  " id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="btn btn-info btn-round  " id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            fghfj
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">..jyuf.</div>
          <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">..srq.</div>
          <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">..555.</div>
        </div>
      </div>
    </div>
  </div>
  </div>
