<app-header></app-header>
<app-event></app-event>
<app-shop></app-shop>
<div class="h-100 d-flex align-items-center justify-content-center">

  <div class="card" style="width: 40rem;">
    <div class="card-header">

      <div class="container">
        <div class="row" style="padding-top: 3%">
          <div class="col-sm-2">
            <div class="card-img-top" style="padding-top: 4%">
              <img style="height: 90px; width: 90px;" class="rounded-circle img-raised" src="assets/img/fedi.jpg">
            </div>
          </div>
          <div class="col-sm-10" style="padding-top: 2%">
            <h6>Fedi Laabidi </h6>
            <div>
              <i class="now-ui-icons ui-1_calendar-60"></i>
              <small style="font-size: x-small">&nbsp; 18-04-2023 23:15</small>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Post title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
<div class="h-100 d-flex align-items-center justify-content-center">

  <div class="card" style="width: 40rem;">
    <div class="card-header">

      <div class="container">
        <div class="row" style="padding-top: 3%">
          <div class="col-sm-2">
            <div class="card-img-top" style="padding-top: 4%">
              <img style="height: 90px; width: 90px;" class="rounded-circle img-raised" src="assets/img/fedi.jpg">
            </div>
          </div>
          <div class="col-sm-10" style="padding-top: 2%">
            <h6>Fedi Laabidi </h6>
            <div>
              <i class="now-ui-icons ui-1_calendar-60"></i>
              <small style="font-size: x-small">&nbsp; 18-04-2023 23:15</small>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Post title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;
      <img style="height: 90px; width: 150px" src="assets/img/bg1.jpg">
      &nbsp;


      <div class="h-100 d-flex align-items-center justify-content-center">
        <br>

        <span>
    <i class="now-ui-icons  ui-2_like btn btn-round btn-info"></i> &nbsp;
  </span>

        <span>
    <i class="now-ui-icons  emoticons_satisfied btn btn-round btn-warning"></i> &nbsp;
  </span>

        <span>
    <i class="now-ui-icons  ui-2_like btn btn-round btn-success"></i> &nbsp;
  </span>

        <span>
    <i class="now-ui-icons  ui-2_favourite-28 btn btn-round btn-danger"></i> &nbsp;
  </span>







      </div>


      <div class="justify-content-center">
        <a href="#" class="btn btn-round btn-info ">View post</a>
      </div>


    </div>
  </div>

</div>


      <div class="h-100 d-flex align-items-center justify-content-center">
        <br>

        <span>
    <i class="now-ui-icons  ui-2_like btn btn-round btn-info"></i> &nbsp;
  </span>

        <span>
    <i class="now-ui-icons  emoticons_satisfied btn btn-round btn-warning"></i> &nbsp;
  </span>

        <span>
    <i class="now-ui-icons  ui-2_like btn btn-round btn-success"></i> &nbsp;
  </span>

        <span>
    <i class="now-ui-icons  ui-2_favourite-28 btn btn-round btn-danger"></i> &nbsp;
  </span>







      </div>


      <div class="justify-content-center">
        <a href="#" class="btn btn-round btn-info ">View post</a>
      </div>


    </div>
  </div>

</div>
