<div class="form-container">
<form (ngSubmit)="onSubmit(eventForm)" #eventForm="ngForm" enctype="multipart/form-data">
  <div>
    <label for="eventName">Event Name</label>
    <input type="text" id="eventName" name="title" [(ngModel)]="event.title" required>
  </div>
  <div>
    <label for="eventDescription">Event Description</label>
    <textarea id="eventDescription" name="description" [(ngModel)]="event.description" required></textarea>
  </div>
  <div>
    <label for="eventStartDate">Start Date</label>
    <input type="datetime-local" id="eventStartDate" name="startDate" [ngModel]="event.startDate | date:'yyyy-MM-ddTHH:mm:ss'" (ngModelChange)="event.startDate=$event" required>
  </div>
  <div>
    <label for="eventEndDate">End Date</label>
    <input type="datetime-local" id="eventEndDate" name="endDate" [ngModel]="event.endDate | date:'yyyy-MM-ddTHH:mm:ss'" (ngModelChange)="event.endDate=$event" required>
  </div>
  <div>
    <label for="eventAddress">Address</label>
    <input type="text" id="eventAddress" name="adresse" [(ngModel)]="event.adresse" required>
  </div>
  <div>
    <label for="eventImage">Images</label>
    <input type="file" id="eventImage" accept="image/*" (change)="onFileSelected($event)" multiple required>
  </div>
  <button type="submit" [disabled]="eventForm.invalid">Submit</button>
</form>
</div>
