
<div class="card" style="width: 20rem;" *ngFor="let item of shopList | paginate:{itemsPerPage:itemsPerPage,currentPage :p}">
<!--  <div *ngFor="let item1 of item.medias" >-->

  <div *ngIf="item.medias && item.medias.length>0" class="carousel-container">
    <img
         [src]="item.medias[indexImage[item.idShop]].imagenUrl" alt="Card image cap"
           class="image-active">

      <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of item.medias;let i=index"
              class="dot"
        [ngClass]="{'active':indexImage[item.idShop]===i}"
        (click)="selectImage(item.idShop,i)"
        >
        </span>
      </div>
      <button *ngIf="controls" class="btn-carousel btn-prev"
              (click)="onPrevClick(item.idShop,item.medias.length)">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
      </button>
      <button *ngIf="controls" class="btn-carousel btn-next"
              (click)="onNextClick(item.idShop,item.medias.length)">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
      </button>

    </div>
<!--  </div>-->
  <div class="card-body">
    <h6 class="card-title"><strong>Name: </strong>{{item.name}}</h6>
    <h6 class="card-text"><strong>E-mail: </strong>{{item.mail}}</h6>
    <h6 class="card-text"><strong>Phone Number: </strong>{{item.phoneNumber}}</h6>
    <h6 class="card-text"><strong>Address: </strong>{{item.adresse}}</h6>
    <button [routerLink]='["/shop",item.idShop]' class="btn btn-info btn-round  btn-lg btn-block">Visit Shop</button>
    <div class="rating" >
      <h4><b>Shop Average Rating</b></h4>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" disabled [checked]="ff == 5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" disabled [checked]="ff == 4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" disabled [checked]="ff == 3"/>
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" disabled [checked]="ff == 2"/>
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" disabled [checked]="ff == 1"/>
        <label for="star1" title="text">1 star</label>
      </div>
    </div>
  </div>
</div>
<div class="mt-8 py-5 flex justify-center items-center">
  <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" flex=""></pagination-controls>
</div>

